*.iml
.gradle
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/gradle.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
/build
/bintrayUpload-key.bat
